html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  min-height: 400px;
}

.title {
  background-image: url('https://bankstreetmusic.pbworks.com/f/1348250071/Music.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 300px;
  height: 300px;
  width: 100%;
  margin-top: 30px;
}

.title h3 {
  margin-top: 0;
}

.wall h1 {
  margin-top: -1px;
  margin-left: 40px;
  color: #FFA358;
}

.list {
  position: relative;
  height: 100px;
}

.list img {
  height: 80px;
  width: 80px;
}

.list .timestamp {
  display: inline-block;
  position: absolute;
  top: 65px;
  left: 175px;
  font-size: 10px;
  color: #FFFFFF;
}

.list .url {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.list .details {
  display: inline-block;
  position: absolute;
  left: 130px;
  top: 30px;
}

.list .votes {
  display: inline-block;
  position: absolute;
  left: 275px;
  top: 65px;
  font-size: 10px;
  color: #FFFFFF;
}

.details .song {
  font-family: cursive;
  font-size: 23px;
  color: #FFFFFF;
}

.details .author {
  font-family: "Comic Sans MS";
  font-size: 12px;
  color: #FFFFFF;
}

.details .user {
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 10px;
}

i.tiny.material-icons {
  position: absolute;
  left: 130px;
  top: 60px;
}

.wall .post a {
  color: #F65151;
  float: right;
}

.form {
  position: relative;
  height: 300px;
  width: 700px;
}

.form input[type="text"] {
  width: 600px;
  border-radius: 10px
}

.form input[type="submit"] {
  border-radius: 10px;
}

.form .button {
  position: absolute;
  right: 20px;
  bottom: 150px;
}

.form label {
  width: 80px;
  clear: left;
  text-align: right;
  color: #F65151;
  margin-right: 3px;
}

.form input, .form label {
  float: left;
  margin-top: 10px;
}

hr{
  padding: 0px;
  margin: 0px;    
}

.wall .errors, .main .errors {
  margin-left: 50px;
  color: #FFFFFF;
}

.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}
.form-signin input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  display: block;
  margin-top: 10px;
  color: #FFFFFF;
}

.col-md-6, #legend legend{
    color: #FFFFFF;
}

.custom.material-icons {
    font-size: 50px;
}